<footer class="border-t-[1px] top-0 z-50 border-[#2C3233]">
  <div class="main-layout py-5">
    <p class="text-center">
      2024 &copy; <a
        class="font-bold text-primary hover:text-[#ff947c]"
        href="https://aidiliskandar.com">Aidil Iskandar</a
      >, All Rights Reserved
    </p>
  </div>
</footer>
