<header class="min-h-[14rem] hero">
  <div class="main-layout relative">
    <div class="absolute top-40">
      <a href="/" title="Study With Aidil">
        <img src="/images/book.png" alt="site icon" width="100" height="100" />
      </a>
    </div>
  </div>
</header>
