<div class="md:col-span-2 text-center">
  <img src="/images/telescope.svg" width="200" height="400" class="mx-auto mb-6" alt="404" />
  <div class="px-1 md:px-[4em]">
    <h2 class="text-2xl font-bold mb-3 underline">Start Exploring My Learning Resources!</h2>
    <p>
      Welcome! Here, you'll find a collection of notes, exercises, and resources that I’ve compiled
      throughout my journey in the IB Diploma Programme (It's still ongoing). Free to explore and
      use anything that helps with your own studies. Fly high!
    </p>
  </div>
</div>
