---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SideNav from "@/components/SideNav.astro";
import "@/styles/global.css";

const { headTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://raw.githubusercontent.com/aidil-sekandar/study-with-aidil/master/public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://raw.githubusercontent.com/aidil-sekandar/study-with-aidil/master/public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://raw.githubusercontent.com/aidil-sekandar/study-with-aidil/master/public/favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="https://raw.githubusercontent.com/aidil-sekandar/study-with-aidil/master/public/favicon/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="https://raw.githubusercontent.com/aidil-sekandar/study-with-aidil/master/public/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="generator" content={Astro.generator} />
    <title>{headTitle} | Study With Aidil</title>
  </head>
  <body class="bg-bodyColor text-white font-PlusJakartaSans">
    <Header />
    <section class="main-layout mt-16 mb-10">
      <slot name="pageTitle" />
      <div class="border-l-2 border-gray-500 pl-4">
        <p slot="pageSubtitle" class="text-textSecondary">Welcome to Aidil's academic vault</p>
      </div>
    </section>
    <section class="main-layout grid md:grid-cols-3 gap-6 mb-16">
      <SideNav />
      <slot />
    </section>
    <Footer />
  </body>
</html>
